#header{
	position: relative;
	height: 150px;
	width: 100%;
	background-color: #FF6138;
	color: white;
}

#logo{
	float: left;

}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
	margin: 0;
    padding: 46px;
    vertical-align:middle; /*middle centred*/
    display: table-cell;
}

#form{
	float: right;
	padding: 35px;
	font-family: 'Dancing Script', cursive;
	font-size: 18px;
	margin: 0;
    padding: 46px;
}

#main{
	height: 100%;
	width: 100%;
}

/* PANEL */

#panel{
	float: left;
	background-color: #3F3F3F;
	width: 33%;
	height: 100%;
}

/* CONTENT */

#content{
	float: left;
	width: 66%;
	height: 100%;
}

#about{
	padding: 60px;
}